@import "normalize";
@import "compass/css3";
@import "compass/utilities/general/clearfix";
@mixin rotate($rotate: $default-rotate, $perspective: false, $only3d: false) {
  $trans: rotate($rotate);
  @if $perspective {
    $trans: perspective($perspective) $trans;
  }
  @include transform($trans, $only3d);
}


#typecase {
	margin-top:20px;
	padding-right:20px;

  * {
    -moz-box-sizing: border-box;
    box-sizing: border-box; *behavior: url(boxsizing.htc);
    position: relative;
    vertical-align: middle;
  }

  .clear {clear:both}

  .font-list-wrap {
    overflow:hidden;
    margin-bottom:-1px;
  }

  span.add {
    cursor:pointer;
    display:inline-block;
    width:20px;
    height:20px;
    margin:0;
    top:-2px;
    border-radius:20px;
    text-decoration:none;
    box-shadow:0 0 0 1px rgba(#000,.3) inset;
    background-color:#74b741;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;

    &:hover {
      box-shadow:0 0 0 1px rgba(#000,.3) inset,
                 0 0 0 5px rgba(#74b741,.25);
    }

    span {
      display:block;
      width:16px;
      height:16px;
      background:url("../images/icons.png") 2px 2px;
    }
  }

	#masthead{
		border-radius:4px;

		h1{
 			background-color:#555;
			@include background-image(linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.8)));
			box-shadow:0 0 20px rgba(#000,.2) inset,
			           0 0 0 1px rgba(#000,.3) inset;
			border-radius:4px;
			padding:20px;
			margin-bottom:10px;
			height:auto;

			strong{
				background-image: url("../images/logo_typecase.png");
				height:35px;
				width:136px;
				text-indent:-9000px;
				display:inline-block;
				margin-right:5px;			
			}

			span{
				font-family: "JournalRegular";
				font-size: 20px;
				margin-left: 20px;
				font-weight: normal;
			}

		}

		#upthemes{
			top:50%;
			margin-top:-16px;
			position:absolute;
			right:20px;
			height:32px;
			width:123px;
			text-indent:-9000px;
			display:inline-block;
			background-image: url("../images/logo_upthemes.png");
		}

	}

  .no-fonts, .no-results {
    text-align:center;
    padding:40px 0 50px 0;

    h2 {
      color:#666;
      text-shadow:0 1px 1px #fff;
      margin-bottom:10px;
    }

    h4 {
      color:#999;
      text-shadow:0 1px 1px #fff;
      font-weight:normal;
      font-size:14px;
      margin:0;
    }

  }

  .no-results {display:none}

  .font-list {
    background:#fbfbfb;
    padding-bottom:2px;
    border-radius:0 0 4px 4px;
    overflow:hidden;
    top:-1px;
    margin-bottom:-1px;

    .font {
      height:62px;
      line-height:60px;
      border-top:solid 1px #eee;
      border-bottom:solid 1px #eee;
      margin-top:-1px;
      margin-bottom:-1px;
      top:1px;
      -moz-user-select:none;
      -webkit-user-select:none;
      user-select:none;
      -ms-user-select:none;

      &:last-child {
        border-radius:0 0 4px 4px;
      }

      .font-sample {
        font-size:20px;
        float:left;
        color:#333;
        padding-left:15px;
        white-space:nowrap;
        width:100%;
        overflow:hidden;
      }

      .font-meta {
        float:right;
        display:inline-block;
        margin-top:-61px;
        padding:0;

        .active-arrow {
          display:none;
          width:45px;
          top:0;
          right:-27px;
          bottom:0;
          position:absolute;
          font-size:71px;
          line-height:.90em;
          color:#fff;
          text-shadow:3px 0 0 #d6d6d6;
          -webkit-transform: scaleX(.3);
          -moz-transform: scaleX(.3);
          font-family:"Lucida Grande","Lucida Sans";
        }

        .font-name {
          float:right;
          color:#aaa;
          font-size:12px;
          line-height:60px;
          height:60px;
          padding-left:50px;
          @include background-image(linear-gradient(left, rgba(#fbfbfb,0) 0%, #fbfbfb 20%));
          background-color:#fbfbfb;
          background-color:rgba(0,0,0,0);
        }

        .font-actions {
          padding:0;
          list-style:none;
          float:right;
          line-height:60px;
          height:60px;
          background-color:#fbfbfb;
          padding:0 15px 0 10px;
          -webkit-transition: all 200ms linear;
          -moz-transition: all 200ms linear;

          li {
            display:block;
            float:left;
          }

          a {
            display:block;
            width:20px;
            height:20px;
            line-height:0;
            border-radius:16px;
            margin:20px 5px;
            opacity:.5;
            text-decoration:none;
            box-shadow:0 0 0 1px rgba(#000,.3) inset;
            -webkit-transition: all 200ms linear;
            -moz-transition: all 200ms linear;

            span {
              display:block;
              width:16px;
              height:16px;
              font-size:0;
            }
          }

          a.delete {
            background-color:#c93e3e;
            
            &:hover {
              box-shadow:0 0 0 1px rgba(#000,.3) inset,
                         0 0 0 5px rgba(#c93e3e,.25);
            }

            span {
              background:url("../images/icons.png") -14px 2px;
            }
          }

          a.add {
            background-color:#74b741;

            &:hover {
              box-shadow:0 0 0 1px rgba(#000,.3) inset,
                         0 0 0 5px rgba(#74b741,.25);
            }

            span {
              background:url("../images/icons.png") 2px 2px;
            }
          }

          a.preview {
            display:none;
            background-color:#6f94da;

            &:hover {
              box-shadow:0 0 0 1px rgba(#000,.3) inset,
                         0 0 0 5px rgba(#6f94da,.25);
            }

            span {
              background:url("../images/icons.png") -48px 0;
            }
          }

          a.edit {
            display:none;
            background-color:#eac526;

            &:hover {
              box-shadow:0 0 0 1px rgba(#000,.3) inset,
                         0 0 0 5px rgba(#eac526,.25);
            }

            span {
              background:url("../images/icons.png") -64px 0;
            }
          }

          a.disabled {
            opacity:.5;
            background-color:#eee;
            cursor:default;

            &:hover {
              box-shadow:0 0 0 1px rgba(#000,.3) inset;
            }
          }
        }
      }

      &:hover {
        cursor:pointer;
        background:#fff;

        .font-meta {
          
          .font-name {
            background:transparent;
            @include background-image(linear-gradient(left, rgba(#fff,0) 0%, #fff 20%));
          }
        }

        .font-actions {
            background:#fff;

            a {opacity:1}
          }
      }

      &.active {
        border-color:#d6d6d6;
        z-index:10;
        box-shadow:0 0 10px rgba(#000,.15);

        .active-arrow {display:none;}

        .font-meta {
          z-index:2;
          
          .font-name {
            background:transparent;
            @include background-image(linear-gradient(left, rgba(#fff,0) 0%, #fff 20%));
          }

          .font-actions {
            background:#fff;

            a {opacity:1}
          }
        }
      }
    }
  }

  .content-wrap {
    background:#f6f6f6;
    border:solid 1px #d6d6d6;
    border-top:none;
    border-radius:0 0 4px 4px;
    overflow:hidden;
    width:100%;
  }

  .sidebar {
    display:none;
    float:left;
    right:1px;
    width:30%;
    padding:15px;
    border-left:solid 1px #d6d6d6;

    h2 {
      margin:0;
      font-weight:bold;
      color:#555;
      font-size:12px;
      line-height:1.5em;
      border-bottom:solid 1px #e2e2e2;

      &:after {
        content:"";
        display:block;
        position:absolute;
        left:0;
        right:0;
        bottom:-2px;
        height:0;
        border-bottom:solid 1px #fbfbfb;
      }
    }

    #selectors {
      margin:0;
      padding:0;
      width:100%;
      list-style:none;
      overflow:hidden;
      padding:5px 1px;

      .new-selector-width {
        font-size:13px;
        display:block;
        height:1px;
        color:transparent;
        overflow:hidden;
        float:left;
        padding-top:10px;
      }

      li {
        display:block;
        float:left;
        overflow:hidden;
        background:#fbfbfb;
        @include background-image(linear-gradient(#fff 40%, #ececec));
        border-radius:30px;
        margin:5px 0;
        max-width:100%;
        margin-right:5px;
        padding:6px 0 6px 5px;
        text-indent:5px;
        color:#555;
        font-size:13px;
        white-space:nowrap;
        text-shadow:0 1px 0 rgba(#fff,.75);
        border:solid 0px rgba(0,0,0,0)!important;
        border:solid 1px #ddd;
        box-shadow:0 0 0 1px rgba(#000,.15) inset,
                   0 -1px 1px 1px rgba(#000,.1) inset,
                   0 1px 0 1px rgba(#fff,.5) inset,
                   0 2px 3px -1px rgba(#000,.2);

        .selector-name {
          overflow:hidden;
          display:block;
          border-right:solid 30px transparent;
        }

        &.add-new {
          display:block;
          float:left;
          clear:left;
          width:135px;
          max-width:100%;
          padding:3px;
          margin-bottom:10px;
          -webkit-transition:all 200ms linear;
          -moz-transition: all 200ms linear;
          z-index:2;
        }
        
        input#new-selector {
          border-radius:22px;
          border:none;
          font-size:13px;
          float:left;
          height:22px;
          padding:3px 25px 2px 7px;
          width:100%;
          margin-right:-5px;
          color:#555;
          border:solid 1px #ccc;
          box-shadow:1px 0 0 rgba(#fff,.25),
                     0 1px 2px rgba(#000,.1) inset;
          outline:none;
          -webkit-transition:all 200ms linear;
          -moz-transition: all 200ms linear;
        }

        input#submit-selector {
          float:right;
          margin-top:-22px;
          height:22px;
          width:24px;
          padding:3px 0 2px 0;
          border-radius:0 22px 22px 0;
          border:0;
          border:solid 1px #ccc;
          box-shadow:0 1px 0 0 rgba(#fff,.4) inset,
                     0 -1px 1px rgba(#000,.05) inset;
          @include background(url("../images/icons.png") right -24px, linear-gradient(#fefefe, #e5e5e5));
          background-color:#e5e5e5;

          &:hover {
            @include background(url("../images/icons.png") right -24px, linear-gradient(#fefefe 70%, #eee));
          }

          &:active {
            @include background(url("../images/icons.png") right -24px, linear-gradient(#efefef, #f3f3f3 30%));
          }
        }

        a.delete {
          cursor:pointer;
          opacity:.5;
          position:absolute;
          right:6px;
          top:6px;
          display:block;
          -webkit-transition:all 250ms linear;
          -moz-transition: all 250ms linear;

          span {
            background:url("../images/icons.png") -16px 0;
            background-color:#999;
            display:block;
            width:16px;
            height:16px;
            border-radius:8px;
            text-decoration:none;
            box-shadow:0 0 0 1px rgba(#000,.25) inset;
          }

          &:hover {
            opacity:.75;
          }
        }
      }
    }

    #variants-form {
      margin-top:10px;
    }

    label {
      display:block;
      font-size:12px;
      color:#333;
      padding:5px 10px;

      input {
        margin-right:5px;
        width:10px;
        position:relative;
        top:1px;
      }
    }
  }

	#your-collection header,
	#available-fonts header{
		box-shadow:0 0 20px rgba(#000,0) inset,
							 0 1px 0 rgba(255,255,255,.6) inset;
		border:1px solid #ccc;
	  background-color: #fff;

		h1{
	    color:#333;
		}
	}

  header {
    border-radius:4px 4px 0 0;
    @include background-image(linear-gradient(rgba(#000,.02),rgba(#000,.07)));

    h1 {
      margin:0;
      color: #fff;
      font-size:14px;
      font-weight:bold;
      height:40px;
      line-height:40px;
      text-shadow:0 1px 0 rgba(#fff,1);
      text-indent:15px;
    }
  }

  #your-collection {
    overflow:hidden;
    margin:0 0 10px;

    .font-list-wrap {
      float:left;
      width:70%;
      border-right:solid 1px #ccc;

      .font-list {display:none}

      .font {
        border-radius:0;

        &:hover:last-child, &.active:last-child {
          border-radius:0;
        }
      }
    }
  }

  #available-fonts {
    overflow:hidden;
    margin:0 0 10px;

		header{
			border-bottom-width:0;
		}

    .font-list {
      border-radius:0;
      padding-bottom:0;
      overflow:auto;

      &#search-results {display:none}
      &#loaded-fonts {height:492px}

      .font {
        
        &:last-child {
          border-radius:0;
        }
      }
    }

    #search {
      padding:10px 9px;
      overflow:hidden;
      height:48px;
      border:1px solid #ccc;
      border-top-width:0;
      background-color:#f9f9f9;
      box-shadow: 0 1px 0 rgba(0,0,0,0.1) inset;
      @include background-image(linear-gradient(rgba(#000,0.13),rgba(#000,0.04)));

      input#search-input {
        width:100%;
        float:left;
        height:28px;
        padding:9px 8px 7px 8px;
        line-height:28px;
        font-size:13px;
        border:none;
        box-shadow:0 0 0 1px rgba(#000,.3),
                   0 2px 0 rgba(#fff,.3),
                   0 1px 2px rgba(#000,.1) inset;
        border-radius:2px;

        &:focus {
          box-shadow:0 0 0 1px #179fe5,
                     0 0 8px lighten(#179fe5,10%),
                     0 1px 2px rgba(#000,.1) inset;
          // @include background-image(linear-gradient(,#0b84c2));
        }
      }

      input#search-submit {
        display:none;
        width:7%;
        float:left;
        height:28px;
        padding:0 8px;
        line-height:28px;
        background:lightblue;
        color:white;
        font-size:14px;
        text-shadow:0 1px 0 rgba(#000,.5);
        border:solid 1px #999;
        border:none;
        text-align:center;
        @include background(url("../images/icons.png") center -46px, linear-gradient(#6691da, #2f5abb));
        background-color:#4077cd;
        box-shadow:0 0 0 1px #1b44ab,
                   0 2px 0 rgba(#fff,.4),
                   0 1px 1px rgba(#fff,.2) inset;
        border-radius:0 2px 2px 0;
        -webkit-transition:all 100ms linear;
        -moz-transition: all 100ms linear;

        &:hover {
          box-shadow:0 0 0 1px #1b44ab,
                     0 2px 0 rgba(#fff,.4),
                     0 1px 1px rgba(#fff,.2) inset,
                     0 0 0 28px rgba(#fff,.1) inset;
        }

        &:active {
          @include background(url("../images/icons.png") center -46px, linear-gradient(bottom,#4f7bd1,#2f5abb));
          box-shadow:0 0 0 1px #133a9c,
                     0 2px 0 rgba(#fff,.4),
                     0 1px 1px rgba(#000,.3) inset;
        }
      }
    }
  }

  #more-fonts {
    display:block;
    border: 1px solid #0b84c2;
    @include background-image(linear-gradient(#179fe5,#0b84c2));
    text-align:center;
    padding: 10px;
    font-size:12px;
    color:#fff;
    font-weight:bold;
    text-decoration:none;
    border-radius:0 0 4px 4px;
    margin-top:-4px;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.6);

    span {
    }
		
		&:hover {
		  @include background-image(linear-gradient(#3ab3f2,#0b84c2));
		}
		&:active {
			background:#0b84c2;
      box-shadow: 0 1px 0 rgba(0,0,0,0.1) inset;
		}
  }

  #firsttimer{
		color:#343434;
  	border-radius:4px;
		background-color:#faf4bf;
		border:1px solid #ddce4f;
		padding:20px;
		margin-bottom:10px;
		font-family:"JournalRegular","Hand of Sean";
		@include clearfix();

		h1{
			font-weight:normal;
			font-size:40px;
			margin:10px 0 40px 0;
			padding:0 0 25px;
			text-align:center;
			background:url("../images/stripe.png") no-repeat bottom center;
		}

		.buttons{
			text-align:center;
			padding:20px 0 0 0;
			clear:both;

			a.btn{
				display:inline-block;
				border-radius:4px;
				border:1px solid #0d6d08;
				background-color:#259d1f;
				box-shadow:inset 0 1px 0 rgba(255,255,255,0.3);
	      @include background-image(linear-gradient(#3db537,#017900));
				padding:10px 24px;
				color:white;
				text-shadow:0 -2px 0 rgba(0,0,0,0.2);
				font:bold 14px/14px Helvetica, Arial, Tahoma, Verdana, sans-serif;
				text-decoration:none;

				&:hover{
		      @include background-image(linear-gradient(#4cc346,#017900));
				}

				&:active{
					box-shadow:inset 0 1px 0 rgba(0,0,0,0.3);
	      	background-image:none;
	      	background-color:#027a00;
	      	color:rgba(255,255,255,0.9);
				}

			}

			small{
				display:block;
				margin-top:5px;
				font:normal 11px/11px Helvetica, Arial, Tahoma, Verdana, sans-serif;
				color:rgba(0,0,0,0.5);
			}

		}

		ol{
			margin-left: 50px;
			margin-bottom: 40px;

			li{
				font-size:32px;
				list-style-position:outside;
				position:relative;
				width:28%;
				float:left;
				line-height: 1em;

				.list-item{
					background-image:url("../images/circle_background.png");
					width:57px;
					height:57px;
					position:absolute;
					left:-57px;
					top:-12px;
					display:block;
				}

				strong{
					font-weight:normal;
					font-size:26px;
					padding-left:10px;
					padding-right: 65px;
					display:block;
					line-height: 1em;
				}

				&:first-child{

					width:36%;

					& strong{
						padding-left:10px;
					}

					& span{
						left:-52px;
					}

				}

				&:nth-child(2n){
					width:36%;

					.list-item{
						@include rotate(75deg, false, false);
					}
				}

				&:nth-child(3n){

					.list-item{
						@include rotate(155deg, false, false);
					}
					strong{
						padding-right:0;
					}
				}

			}

		}

  }

}