/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 20, normalize.scss */
#fonteasy article,
#fonteasy aside,
#fonteasy details,
#fonteasy figcaption,
#fonteasy figure,
#fonteasy footer,
#fonteasy header,
#fonteasy hgroup,
#fonteasy nav,
#fonteasy section,
#fonteasy summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 32, normalize.scss */
#fonteasy audio,
#fonteasy canvas,
#fonteasy video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 */
/* line 44, normalize.scss */
#fonteasy audio:not([controls]) {
  display: none;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 55, normalize.scss */
#fonteasy [hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 72, normalize.scss */
html #fonteasy {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 86, normalize.scss */
html #fonteasy,
#fonteasy button,
#fonteasy input,
#fonteasy select,
#fonteasy textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 94, normalize.scss */
body #fonteasy {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 107, normalize.scss */
#fonteasy a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 118, normalize.scss */
#fonteasy a:hover,
#fonteasy a:active {
  outline: 0;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 127, normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 136, normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 140, normalize.scss */
blockquote {
  margin: 1em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 148, normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 156, normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 166, normalize.scss */
#fonteasy p,
#fonteasy pre {
  margin: 1em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 178, normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 188, normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 201, normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 208, normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 213, normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 223, normalize.scss */
#fonteasy sub,
#fonteasy sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 230, normalize.scss */
#fonteasy sup {
  top: -0.5em;
}

/* line 234, normalize.scss */
#fonteasy sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 250, normalize.scss */
#fonteasy dl,
#fonteasy menu,
#fonteasy ol,
#fonteasy ul {
  margin: 0;
}

/* line 254, normalize.scss */
#fonteasy dd {
  margin: 0;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 264, normalize.scss */
#fonteasy menu,
#fonteasy ol,
#fonteasy ul {
  padding: 0;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 273, normalize.scss */
#fonteasy nav ul,
#fonteasy nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 289, normalize.scss */
#fonteasy img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 298, normalize.scss */
#fonteasy svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 311, normalize.scss */
#fonteasy figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 324, normalize.scss */
#fonteasy form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 332, normalize.scss */
#fonteasy fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3 
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 344, normalize.scss */
#fonteasy legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 360, normalize.scss */
#fonteasy button,
#fonteasy input,
#fonteasy select,
#fonteasy textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 372, normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 386, normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 397, normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 409, normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 421, normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 433, normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 443, normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 453, normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 467, normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 4, main.scss */
body {
  padding: 0 10px;
  max-width: 1024px;
  margin: 0 auto;
}

/* line 10, main.scss */
#fonteasy {
  padding: 0 10px;
  max-width: 1024px;
  margin: 0 auto;
}
/* line 15, main.scss */
#fonteasy * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  vertical-align: middle;
}
/* line 22, main.scss */
#fonteasy .clear {
  clear: both;
}
/* line 24, main.scss */
#fonteasy .font-list-wrap {
  width: 100%;
  margin-bottom: -1px;
}
/* line 29, main.scss */
#fonteasy .no-fonts {
  text-align: center;
  padding: 40px 0 50px 0;
}
/* line 33, main.scss */
#fonteasy .no-fonts h2 {
  color: #666;
  text-shadow: 0 1px 1px #fff;
  margin-bottom: 10px;
}
/* line 39, main.scss */
#fonteasy .no-fonts h4 {
  color: #999;
  text-shadow: 0 1px 1px #fff;
  font-weight: normal;
  font-size: 14px;
  margin: 0;
}
/* line 47, main.scss */
#fonteasy .no-fonts span.add {
  cursor: pointer;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 4px;
  top: -2px;
  border-radius: 8px;
  text-decoration: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset;
  background-color: #74b741;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
}
/* line 62, main.scss */
#fonteasy .no-fonts span.add:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset, 0 0 0 5px rgba(116, 183, 65, 0.25);
}
/* line 67, main.scss */
#fonteasy .no-fonts span.add span {
  display: block;
  width: 16px;
  height: 16px;
  background: url("assets/icons.png") 0 0;
}
/* line 76, main.scss */
#fonteasy .font-list {
  background: #fbfbfb;
  padding-bottom: 2px;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}
/* line 82, main.scss */
#fonteasy .font-list .font {
  line-height: 60px;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  margin-top: -1px;
  margin-bottom: -1px;
  top: 1px;
}
/* line 90, main.scss */
#fonteasy .font-list .font:last-child {
  border-radius: 0 0 4px 4px;
}
/* line 94, main.scss */
#fonteasy .font-list .font .font-sample {
  font-size: 20px;
  float: left;
  color: #333;
  padding-left: 15px;
  white-space: nowrap;
  width: 100%;
  overflow: hidden;
}
/* line 104, main.scss */
#fonteasy .font-list .font .font-meta {
  float: right;
  padding: 0 15px 0 50px;
  position: absolute;
  right: 0;
  background: #fbfbfb;
  background-color: transparent;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(251, 251, 251, 0)), color-stop(20%, #fbfbfb));
  background-image: -webkit-linear-gradient(left, rgba(251, 251, 251, 0) 0%, #fbfbfb 20%);
  background-image: -moz-linear-gradient(left, rgba(251, 251, 251, 0) 0%, #fbfbfb 20%);
  background-image: -o-linear-gradient(left, rgba(251, 251, 251, 0) 0%, #fbfbfb 20%);
  background-image: -ms-linear-gradient(left, rgba(251, 251, 251, 0) 0%, #fbfbfb 20%);
  background-image: linear-gradient(left, rgba(251, 251, 251, 0) 0%, #fbfbfb 20%);
}
/* line 113, main.scss */
#fonteasy .font-list .font .font-meta .font-name {
  float: left;
  color: #aaa;
  font-size: 12px;
  margin-right: 5px;
}
/* line 120, main.scss */
#fonteasy .font-list .font .font-meta .active-arrow {
  display: none;
  width: 45px;
  top: 0;
  right: -27px;
  bottom: 0;
  position: absolute;
  font-size: 71px;
  line-height: .90em;
  color: #fff;
  text-shadow: 3px 0 0 #d6d6d6;
  -webkit-transform: scaleX(0.3);
  -moz-transform: scaleX(0.3);
  font-family: "Lucida Grande","Lucida Sans";
}
/* line 136, main.scss */
#fonteasy .font-list .font .font-meta .font-actions {
  margin: 0;
  padding: 0;
  float: right;
  list-style: none;
  opacity: .5;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
}
/* line 145, main.scss */
#fonteasy .font-list .font .font-meta .font-actions li {
  display: inline-block;
}
/* line 149, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  top: 22px;
  margin-left: 10px;
  text-decoration: none;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.3)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
}
/* line 162, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a span {
  display: block;
  width: 16px;
  height: 16px;
}
/* line 169, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a[href$="delete"] {
  background-color: #c93e3e;
}
/* line 172, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a[href$="delete"]:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset, 0 0 0 5px rgba(201, 62, 62, 0.25);
}
/* line 177, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a[href$="delete"] span {
  background: url("assets/icons.png") -16px 0;
}
/* line 182, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a[href$="add"] {
  background-color: #74b741;
}
/* line 185, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a[href$="add"]:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset, 0 0 0 5px rgba(116, 183, 65, 0.25);
}
/* line 190, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a[href$="add"] span {
  background: url("assets/icons.png") 0 0;
}
/* line 195, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a[href$="preview"] {
  display: none;
  background-color: #6f94da;
}
/* line 199, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a[href$="preview"]:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset, 0 0 0 5px rgba(111, 148, 218, 0.25);
}
/* line 204, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a[href$="preview"] span {
  background: url("assets/icons.png") -48px 0;
}
/* line 209, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a[href$="edit"] {
  display: none;
  background-color: #eac526;
}
/* line 213, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a[href$="edit"]:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset, 0 0 0 5px rgba(234, 197, 38, 0.25);
}
/* line 218, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a[href$="edit"] span {
  background: url("assets/icons.png") -64px 0;
}
/* line 223, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a.disabled {
  opacity: .5;
  background-color: white;
  cursor: default;
}
/* line 228, main.scss */
#fonteasy .font-list .font .font-meta .font-actions a.disabled:hover {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.3) inset;
}
/* line 235, main.scss */
#fonteasy .font-list .font:hover {
  background: white;
  cursor: pointer;
}
/* line 239, main.scss */
#fonteasy .font-list .font:hover .font-meta {
  background: white;
  background-color: transparent;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, #ffffff));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 20%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 20%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 20%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 20%);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 20%);
}
/* line 245, main.scss */
#fonteasy .font-list .font:hover .font-actions {
  opacity: 1;
}
/* line 250, main.scss */
#fonteasy .font-list .font.active {
  background: white;
  border-color: #d6d6d6;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}
/* line 256, main.scss */
#fonteasy .font-list .font.active .active-arrow {
  display: block;
}
/* line 258, main.scss */
#fonteasy .font-list .font.active .font-meta {
  z-index: 2;
  background: transparent;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(20%, #ffffff));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 20%);
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 20%);
  background-image: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 20%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 20%);
  background-image: linear-gradient(left, rgba(255, 255, 255, 0) 0%, #ffffff 20%);
}
/* line 263, main.scss */
#fonteasy .font-list .font.active .font-meta .font-actions {
  opacity: 1;
}
/* line 271, main.scss */
#fonteasy .content-wrap {
  background: #f6f6f6;
  border: solid 1px #d6d6d6;
  border-top: none;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}
/* line 279, main.scss */
#fonteasy .sidebar {
  display: none;
  float: left;
  width: 30%;
  border-left: solid 1px #d6d6d6;
  padding: 15px;
  margin-left: -1px;
}
/* line 287, main.scss */
#fonteasy .sidebar h2 {
  margin: 0;
  font-weight: normal;
  color: #555;
  font-size: 16px;
  border-bottom: solid 1px #fbfbfb;
}
/* line 294, main.scss */
#fonteasy .sidebar h2:after {
  content: "";
  display: block;
  height: 0;
  margin-top: 5px;
  border-bottom: solid 1px #e2e2e2;
}
/* line 303, main.scss */
#fonteasy .sidebar #selectors {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  padding: 5px 1px;
}
/* line 310, main.scss */
#fonteasy .sidebar #selectors .new-selector-width {
  font-size: 13px;
  display: block;
  height: 0;
  overflow: hidden;
  float: left;
}
/* line 318, main.scss */
#fonteasy .sidebar #selectors li {
  float: left;
  max-width: 100%;
  overflow: hidden;
  background: #fbfbfb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(40%, #ffffff), color-stop(100%, #ececec));
  background-image: -webkit-linear-gradient(#ffffff 40%, #ececec);
  background-image: -moz-linear-gradient(#ffffff 40%, #ececec);
  background-image: -o-linear-gradient(#ffffff 40%, #ececec);
  background-image: -ms-linear-gradient(#ffffff 40%, #ececec);
  background-image: linear-gradient(#ffffff 40%, #ececec);
  border-radius: 30px;
  margin: 5px 0;
  margin-right: 5px;
  height: 28px;
  line-height: 28px;
  text-indent: 5px;
  color: #555;
  font-size: 13px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 -1px 1px 1px rgba(0, 0, 0, 0.1) inset, 0 1px 0 1px rgba(255, 255, 255, 0.5) inset, 0 2px 3px -1px rgba(0, 0, 0, 0.2);
}
/* line 338, main.scss */
#fonteasy .sidebar #selectors li .selector-name {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  border-right: solid 30px transparent;
}
/* line 345, main.scss */
#fonteasy .sidebar #selectors li.add-new {
  max-width: 100%;
  clear: left;
  width: 133px;
  padding: 0 3px;
  margin-bottom: 20px;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
}
/* line 355, main.scss */
#fonteasy .sidebar #selectors li input[type="text"] {
  border-radius: 22px;
  border: none;
  font-size: 13px;
  float: left;
  top: 3px;
  height: 22px;
  padding: 3px 30px 2px 7px;
  width: 127px;
  max-width: 100%;
  color: #555;
  border: solid 1px #ccc;
  box-shadow: 1px 0 0 rgba(255, 255, 255, 0.25), 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  outline: none;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
}
/* line 374, main.scss */
#fonteasy .sidebar #selectors li input[type="submit"] {
  position: absolute;
  top: 3px;
  right: 0;
  height: 22px;
  width: 24px;
  padding: 3px 0 2px 0;
  border-radius: 0 22px 22px 0;
  border: 0;
  border: solid 1px #ccc;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4) inset, 0 -1px 1px rgba(0, 0, 0, 0.05) inset;
  background: url("assets/icons.png") right -24px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fefefe), color-stop(100%, #e5e5e5));
  background: url("assets/icons.png") right -24px, -webkit-linear-gradient(#fefefe, #e5e5e5);
  background: url("assets/icons.png") right -24px, -moz-linear-gradient(#fefefe, #e5e5e5);
  background: url("assets/icons.png") right -24px, -o-linear-gradient(#fefefe, #e5e5e5);
  background: url("assets/icons.png") right -24px, -ms-linear-gradient(#fefefe, #e5e5e5);
  background: url("assets/icons.png") right -24px, linear-gradient(#fefefe, #e5e5e5);
}
/* line 388, main.scss */
#fonteasy .sidebar #selectors li input[type="submit"]:hover {
  background: url("assets/icons.png") right -24px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(70%, #fefefe), color-stop(100%, #eeeeee));
  background: url("assets/icons.png") right -24px, -webkit-linear-gradient(#fefefe 70%, #eeeeee);
  background: url("assets/icons.png") right -24px, -moz-linear-gradient(#fefefe 70%, #eeeeee);
  background: url("assets/icons.png") right -24px, -o-linear-gradient(#fefefe 70%, #eeeeee);
  background: url("assets/icons.png") right -24px, -ms-linear-gradient(#fefefe 70%, #eeeeee);
  background: url("assets/icons.png") right -24px, linear-gradient(#fefefe 70%, #eeeeee);
}
/* line 392, main.scss */
#fonteasy .sidebar #selectors li input[type="submit"]:active {
  background: url("assets/icons.png") right -24px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(30%, #f3f3f3));
  background: url("assets/icons.png") right -24px, -webkit-linear-gradient(#efefef, #f3f3f3 30%);
  background: url("assets/icons.png") right -24px, -moz-linear-gradient(#efefef, #f3f3f3 30%);
  background: url("assets/icons.png") right -24px, -o-linear-gradient(#efefef, #f3f3f3 30%);
  background: url("assets/icons.png") right -24px, -ms-linear-gradient(#efefef, #f3f3f3 30%);
  background: url("assets/icons.png") right -24px, linear-gradient(#efefef, #f3f3f3 30%);
}
/* line 397, main.scss */
#fonteasy .sidebar #selectors li a[href$="delete"] {
  opacity: .5;
  position: absolute;
  right: 6px;
  top: 6px;
  display: block;
  -webkit-transition: all 250ms linear;
  -moz-transition: all 250ms linear;
}
/* line 406, main.scss */
#fonteasy .sidebar #selectors li a[href$="delete"] span {
  background: url("assets/icons.png") -16px 0;
  background-color: #999;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  text-decoration: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25) inset;
}
/* line 417, main.scss */
#fonteasy .sidebar #selectors li a[href$="delete"]:hover {
  opacity: .75;
}
/* line 424, main.scss */
#fonteasy .sidebar #variants-form {
  margin-top: 10px;
}
/* line 428, main.scss */
#fonteasy .sidebar label {
  display: block;
  font-size: 12px;
  color: #333;
  padding: 5px 10px;
}
/* line 434, main.scss */
#fonteasy .sidebar label input {
  margin-right: 5px;
  width: 10px;
  position: relative;
  top: 1px;
}
/* line 443, main.scss */
#fonteasy .header {
  border-radius: 4px 4px 0 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset, 0 0 0 1px rgba(0, 0, 0, 0.3) inset;
}
/* line 449, main.scss */
#fonteasy .header h1 {
  margin: 0;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
  font-weight: normal;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  text-indent: 15px;
}
/* line 461, main.scss */
#fonteasy #your-collection {
  overflow: hidden;
  margin: 10px 0;
}
/* line 465, main.scss */
#fonteasy #your-collection .header {
  background-color: #85c052;
}
/* line 473, main.scss */
#fonteasy #your-collection .font-list-wrap {
  width: 70%;
  float: left;
  border-right: solid 1px #d6d6d6;
}
/* line 478, main.scss */
#fonteasy #your-collection .font-list-wrap .font-list {
  display: none;
}
/* line 480, main.scss */
#fonteasy #your-collection .font-list-wrap .font {
  border-right: solid 1px #d6d6d6;
  margin-right: -1px;
  border-radius: 0;
}
/* line 485, main.scss */
#fonteasy #your-collection .font-list-wrap .font:hover:last-child, #fonteasy #your-collection .font-list-wrap .font.active:last-child {
  border-radius: 0 0 4px 4px;
}
/* line 492, main.scss */
#fonteasy #available-fonts {
  overflow: hidden;
  margin: 20px 0;
}
/* line 496, main.scss */
#fonteasy #available-fonts .header {
  background-color: #4077cd;
}
/* line 504, main.scss */
#fonteasy #available-fonts .font-list {
  border-radius: 0;
  padding-bottom: 0;
  overflow: auto;
  height: 244px;
}
/* line 512, main.scss */
#fonteasy #available-fonts .font-list .font:last-child {
  border-radius: 0;
}
/* line 518, main.scss */
#fonteasy #available-fonts #search {
  padding: 5px 5px;
  overflow: hidden;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2) inset;
  background-color: #c1c1c1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.2)));
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: -ms-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
}
/* line 525, main.scss */
#fonteasy #available-fonts #search input[type="text"] {
  width: 93%;
  float: left;
  padding: 6px;
  font-size: 14px;
  border: none;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2), 0 2px 0 rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1) inset;
  border-radius: 2px 0 0 2px;
}
/* line 537, main.scss */
#fonteasy #available-fonts #search input[type="submit"] {
  width: 7%;
  float: left;
  padding: 6px;
  background: lightblue;
  color: white;
  font-size: 14px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  border: solid 1px #999;
  border: none;
  text-align: center;
  background-color: #4077cd;
  background: url("assets/icons.png") center -46px, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #6691da), color-stop(100%, #2f5abb));
  background: url("assets/icons.png") center -46px, -webkit-linear-gradient(#6691da, #2f5abb);
  background: url("assets/icons.png") center -46px, -moz-linear-gradient(#6691da, #2f5abb);
  background: url("assets/icons.png") center -46px, -o-linear-gradient(#6691da, #2f5abb);
  background: url("assets/icons.png") center -46px, -ms-linear-gradient(#6691da, #2f5abb);
  background: url("assets/icons.png") center -46px, linear-gradient(#6691da, #2f5abb);
  box-shadow: 0 0 0 1px #1b44ab, 0 2px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2) inset;
  border-radius: 0 2px 2px 0;
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
}
/* line 557, main.scss */
#fonteasy #available-fonts #search input[type="submit"]:hover {
  box-shadow: 0 0 0 1px #1b44ab, 0 2px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(255, 255, 255, 0.2) inset, 0 0 0 28px rgba(255, 255, 255, 0.1) inset;
}
/* line 564, main.scss */
#fonteasy #available-fonts #search input[type="submit"]:active {
  background: url("assets/icons.png") center -46px, -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #4f7bd1), color-stop(100%, #2f5abb));
  background: url("assets/icons.png") center -46px, -webkit-linear-gradient(bottom, #4f7bd1, #2f5abb);
  background: url("assets/icons.png") center -46px, -moz-linear-gradient(bottom, #4f7bd1, #2f5abb);
  background: url("assets/icons.png") center -46px, -o-linear-gradient(bottom, #4f7bd1, #2f5abb);
  background: url("assets/icons.png") center -46px, -ms-linear-gradient(bottom, #4f7bd1, #2f5abb);
  background: url("assets/icons.png") center -46px, linear-gradient(bottom, #4f7bd1, #2f5abb);
  box-shadow: 0 0 0 1px #133a9c, 0 2px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.3) inset;
}
/* line 573, main.scss */
#fonteasy #available-fonts a[href="#more-fonts"] {
  display: block;
  border-top: solid 1px #d4d4d4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fafafa), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(#fafafa, #ededed);
  background-image: -moz-linear-gradient(#fafafa, #ededed);
  background-image: -o-linear-gradient(#fafafa, #ededed);
  background-image: -ms-linear-gradient(#fafafa, #ededed);
  background-image: linear-gradient(#fafafa, #ededed);
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 12px;
  color: #444;
  font-weight: bold;
  text-decoration: none;
  border-radius: 0 0 4px 4px;
  margin-top: -1px;
}
/* line 587, main.scss */
#fonteasy #available-fonts a[href="#more-fonts"] span {
  border-bottom: solid 1px #a5a5a5;
}
/* line 591, main.scss */
#fonteasy #available-fonts a[href="#more-fonts"]:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f5f5f5));
  background-image: -webkit-linear-gradient(#ffffff, #f5f5f5);
  background-image: -moz-linear-gradient(#ffffff, #f5f5f5);
  background-image: -o-linear-gradient(#ffffff, #f5f5f5);
  background-image: -ms-linear-gradient(#ffffff, #f5f5f5);
  background-image: linear-gradient(#ffffff, #f5f5f5);
}
/* line 594, main.scss */
#fonteasy #available-fonts a[href="#more-fonts"]:hover span {
  border-color: #999;
}
